h1 {
	border:10px dashed orange;
	background-color:green;
	color:white;
}

h2 {
	text-decoration:underline;
}

#post-1,#post-2,#post-3,#post-4,#post-5 {
	background-color:#ff0307;
}

#post-6,#post-7,#post-8,#post-9,#post-10 {
	background-color:#8b0002;
}