<!DOCTYPE html>
<html>
<head>
  <title>TwitterApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</div>
  <div id="sandwichbottom"></div>   
  <div id="footer">
  <p>&copy; <a href="http://www.anabdesigns.com">Ana Becker Design</a> 2013</p> 
  </div>
</body>
</html>
